In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import yaml

In [2]:
df = pd.read_pickle("../Data/netflix-pull-wo-clist.pickle")

In [3]:
df.columns

Index(['id', 'title', 'img', 'vtype', 'nfid', 'synopsis', 'year', 'imdbid',
       'clist', 'titledate', 'imdb_rating'],
      dtype='object')

In [4]:
more_titles = df.loc[df["clist"].str.contains("more", case=False)]

In [8]:
more_titles.shape

(7860, 11)

### 7860 calls to API would require about 79 days - need to buy the API

## Getting Country Code Mappings

In [9]:
country_df = pd.read_pickle("../Data/country_data.pickle")

In [10]:
country_df.head()

   id     country countrycode  tvids  tseries  tmovs
0  21  Argentina           AR   6188     2248   3940
1  23  Australia           AU   6266     2370   3896
2  26    Belgium           BE   6544     2317   4227
3  29     Brazil           BR   6323     2246   4077
4  33     Canada           CA   6165     2281   3884

In [ ]:
def pull(nfid):
    pass

In [ ]:
def add_country_data(row):
    resp = pull(row["nfid"])