In [1]:
import pandas as pd
import numpy as np
import yaml

with open("../api_constants.yaml") as f:
    api_constants = yaml.load(f, Loader=yaml.FullLoader)

rapidapi = api_constants["RapidAPI"]
imdbapi = api_constants["IMDBAPI"]

## Pull data from RapidAPI

In [2]:
""" import requests

endpoint = "search"
url = rapidapi["URL"] + endpoint

querystring = {"offset":"100"}

headers = {
    "X-RapidAPI-Key": rapidapi["RapidAPI-KEY"],
    "X-RapidAPI-Host": rapidapi["RapidAPI-Host"]
}
response = requests.request("GET", url, headers=headers, params=querystring) """

' import requests\n\nendpoint = "search"\nurl = rapidapi["URL"] + endpoint\n\nquerystring = {"offset":"100"}\n\nheaders = {\n    "X-RapidAPI-Key": rapidapi["RapidAPI-KEY"],\n    "X-RapidAPI-Host": rapidapi["RapidAPI-Host"]\n}\nresponse = requests.request("GET", url, headers=headers, params=querystring) '

## Script to pull all titles

In [2]:
import requests

def pull(offset):
    endpoint = "search"
    url = rapidapi["URL"] + endpoint

    querystring = {"offset": str(offset)}

    headers = {
        "X-RapidAPI-Key": rapidapi["RapidAPI-KEY"],
        "X-RapidAPI-Host": rapidapi["RapidAPI-Host"]
    }
    response = requests.request("GET", url, headers=headers, params=querystring)
    return response

In [3]:
offset = 16000
resp = pull(offset)
resultant_df = pd.DataFrame(resp.json()["results"])

In [4]:
n = 1
offset = 16100
while n < 80:
    resp = pull(offset)
    df = pd.DataFrame(resp.json()["results"])
    if df.empty:
        break
    resultant_df = pd.concat([resultant_df, df], ignore_index=True)
    n += 1
    print(f"Pulled {offset} - {offset+100}")
    offset += 100

Pulled 16100 - 16200
Pulled 16200 - 16300
Pulled 16300 - 16400
Pulled 16400 - 16500
Pulled 16500 - 16600
Pulled 16600 - 16700
Pulled 16700 - 16800
Pulled 16800 - 16900
Pulled 16900 - 17000
Pulled 17000 - 17100
Pulled 17100 - 17200
Pulled 17200 - 17300
Pulled 17300 - 17400
Pulled 17400 - 17500
Pulled 17500 - 17600
Pulled 17600 - 17700
Pulled 17700 - 17800
Pulled 17800 - 17900

KeyError: 'results'

In [5]:
resultant_df.shape

(1851, 16)

In [6]:
resultant_df.head()

,id,title,img,vtype,nfid,synopsis,avgrating,year,runtime,imdbid,poster,imdbrating,top250,top250tv,clist,titledate
0,38805,A.C.A.B.: All Cops Are Bastards,https://occ-0-784-778.1.nflxso.net/dnm/api/v6/...,movie,70271479,The day-to-day stories of the controversial It...,3.232644,2012,6329,tt1893195,https://images-na.ssl-images-amazon.com/images...,6.7,0,0,"""IT"":""Italy""",2015-04-14
1,38803,Att gora en pudel&#39;,https://occ-0-38-1501.1.nflxso.net/art/4f9f9/7...,movie,80029437,"While on a weekend-long self-help retreat, a d...",3.333209,2006,5504,tt0498989,http://ia.media-imdb.com/images/M/MV5BMTI0OTUz...,4.8,0,0,"""FR"":""France"",""DE"":""Germany"",""NL"":""Netherlands...",2015-04-14
2,38797,Anklaget,https://occ-0-38-1501.1.nflxso.net/art/75f1e/8...,movie,70254944,Teenage Stine accuses her father of sexually a...,3.407172,2005,6067,tt0388727,http://ia.media-imdb.com/images/M/MV5BMTIzODQ2...,7.1,0,0,"""FR"":""France"",""DE"":""Germany"",""NL"":""Netherlands...",2015-04-14
3,38792,Asfaltenglene,http://occ-0-760-401.1.nflxso.net/art/3d6e8/f1...,movie,70295580,Three friends plan to do nothing all summer wh...,3.845479,2010,4704,tt1630596,http://ia.media-imdb.com/images/M/MV5BMjAwNjMx...,4.6,0,0,"""FR"":""France"",""DE"":""Germany"",""NL"":""Netherlands...",2015-04-14
4,38789,Ambulancen,http://cdn1.nflximg.net/images/6279/9266279.jpg,movie,70254943,"When a bank robbery goes wrong, brothers Tim a...",3.114677,2005,4555,tt0469267,N/A,0.0,0,0,"""FR"":""France"",""DE"":""Germany"",""NL"":""Netherlands...",2015-04-14

In [8]:
resultant_df.columns

Index(['id', 'title', 'img', 'vtype', 'nfid', 'synopsis', 'avgrating', 'year',
       'runtime', 'imdbid', 'poster', 'imdbrating', 'top250', 'top250tv',
       'clist', 'titledate'],
      dtype='object')

In [9]:
len(resultant_df.nfid), len(resultant_df.nfid.unique())

(1851, 1851)

In [10]:
resultant_df.drop(["avgrating", "runtime", "poster", "imdbrating", "top250", "top250tv",], axis=1, inplace=True)

In [11]:
resultant_df

,id,title,img,vtype,nfid,synopsis,year,imdbid,clist,titledate
0,38805,A.C.A.B.: All Cops Are Bastards,https://occ-0-784-778.1.nflxso.net/dnm/api/v6/...,movie,70271479,The day-to-day stories of the controversial It...,2012,tt1893195,"""IT"":""Italy""",2015-04-14
1,38803,Att gora en pudel&#39;,https://occ-0-38-1501.1.nflxso.net/art/4f9f9/7...,movie,80029437,"While on a weekend-long self-help retreat, a d...",2006,tt0498989,"""FR"":""France"",""DE"":""Germany"",""NL"":""Netherlands...",2015-04-14
2,38797,Anklaget,https://occ-0-38-1501.1.nflxso.net/art/75f1e/8...,movie,70254944,Teenage Stine accuses her father of sexually a...,2005,tt0388727,"""FR"":""France"",""DE"":""Germany"",""NL"":""Netherlands...",2015-04-14
3,38792,Asfaltenglene,http://occ-0-760-401.1.nflxso.net/art/3d6e8/f1...,movie,70295580,Three friends plan to do nothing all summer wh...,2010,tt1630596,"""FR"":""France"",""DE"":""Germany"",""NL"":""Netherlands...",2015-04-14
4,38789,Ambulancen,http://cdn1.nflximg.net/images/6279/9266279.jpg,movie,70254943,"When a bank robbery goes wrong, brothers Tim a...",2005,tt0469267,"""FR"":""France"",""DE"":""Germany"",""NL"":""Netherlands...",2015-04-14
...,...,...,...,...,...,...,...,...,...,...
1846,26185,The Twilight Saga: Breaking Dawn: Part 1,https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...,movie,70202142,Not long after immortal soul mates Bella Swan ...,2011,tt1324999,"""CA"":""Canada"",""DE"":""Germany"",""AR"":""Argentina"",...",2015-04-14
1847,26184,One for the Money,https://occ-0-2773-2774.1.nflxso.net/dnm/api/v...,movie,70205463,"A divorced, unemployed woman becomes a bounty ...",2012,tt1598828,"""GB"":""United Kingdom""",2015-04-14
1848,26170,Zoey 101,http://cdn1.nflximg.net/images/8575/8148575.jpg,series,70177036,"Jamie Lynn Spears stars as Zoey Brooks, a teen...",2005,tt0415463,"""US"":""United States""",2015-04-14
1849,26164,13 Going on 30,https://occ-0-2851-38.1.nflxso.net/dnm/api/v6/...,movie,60034573,When a geeky teen&#39;s birthday party goes aw...,2004,tt0337563,"""CA"":""Canada"",""FR"":""France"",""GB"":""United Kingd...",2015-04-14
1850,26165,1408: Theatrical Version,https://occ-0-2772-1007.1.nflxso.net/art/07a34...,movie,70058020,"In this Stephen King thriller, a writer and pa...",2007,tt0450385,"""CA"":""Canada"",""FR"":""France"",""GB"":""United Kingdom""",2015-04-14

In [12]:
import html
resultant_df["title"] = resultant_df.title.apply(lambda x: html.unescape(x))
resultant_df["synopsis"] = resultant_df.synopsis.apply(lambda x: html.unescape(x))

resultant_df.to_pickle("interm_16000-end_titles.pickle")